:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--primary-color);
  color-scheme: light dark;
  color: rgb(249 250 251);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; 
}

#root {
  display: flex;
  width: 100%;
  overflow-x: hidden; 
}

.container {
  display: flex;


  padding: 20px;
  background-color: var(--white-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}
